body {
  background-color: #000;
  font-family: Arial;
  text-align: center;
}

.wrapper, .buttons {
  margin: 0 auto;
  width: 50%;
}

button {
  margin: 5px;
  width: 120px;
  height: 50px;
  font-size: 40px;
}

.wrapper {
  color: red;
  font-size: 80px;
  font-weight: 600;
}

.timeStamp {
  margin: 0 auto;
  width: 50%;
  font-size: 40px;
  color: grey;
}